# Tipped Wage Report: Analysis

#### Analyst: Dhruv Singh <br> Report Name: Tipped Wage Report, Part 3 <br> Report Quarter, Year: Q2 2021 <br> Date Updated: 08/18/2021

In [1]:
# libraries
import pandas as pd
import numpy as np

## Adjusted Data

In [2]:
df_agg = pd.read_csv('2_cleaned_data_edited.csv')

In [3]:
df_agg['total_rate_avg'] = (df_agg['hourly_rate_avg'] + df_agg['tips_avg'])/2

In [4]:
# renaming columns back to original for aggregation
df_agg = df_agg.rename(columns={"emp_name": "Employer Name",
                                "hours_worked": "Avg. Total Hours Worked",
                                "hourly_rate_emp": "Avg. Employer Paid Hourly Rate",
                                "total_wage": "Avg. Total Paid Wages",
                                "total_tips": "Avg. Total Tips Received",
                                "total_rate_avg": "Avg. Total Pay Rate",
                                "source": "Source"})

### Analyzing Data

In [5]:
# finding grouped by averages
grouped_by_averages = df_agg.groupby("Source").agg({"Avg. Total Hours Worked":np.nanmean,
                                                    "Avg. Employer Paid Hourly Rate":np.nanmean,
                                                    "Avg. Total Paid Wages":np.nanmean,
                                                    "Avg. Total Tips Received":np.nanmean,
                                                    "Avg. Total Pay Rate":np.nanmean})

In [6]:
grouped_by_averages_transposed = grouped_by_averages.T

In [7]:
grouped_by_averages_transposed

Source                                 ESSP       Manual
Avg. Total Hours Worked          249.116373   141.762337
Avg. Employer Paid Hourly Rate     8.749069    14.430866
Avg. Total Paid Wages           1878.977361  1785.961025
Avg. Total Tips Received        3937.915024  2793.882329
Avg. Total Pay Rate               21.683652    17.527094

In [8]:
# finding overall averages
overall_averages = df_agg[["Avg. Total Hours Worked", "Avg. Employer Paid Hourly Rate", "Avg. Total Paid Wages", "Avg. Total Tips Received", "Avg. Total Pay Rate"]].mean().to_frame()

In [9]:
overall_averages = overall_averages.rename_axis('Source')

In [10]:
# renaming columns
overall_averages.columns = ['Total']

In [11]:
overall_averages

                                      Total
Source
Avg. Total Hours Worked          208.137144
Avg. Employer Paid Hourly Rate    10.917927
Avg. Total Paid Wages           1843.471125
Avg. Total Tips Received        3501.214371
Avg. Total Pay Rate               20.097009

In [12]:
df = pd.merge(grouped_by_averages_transposed, overall_averages, how = 'inner', left_index=True, right_index=True)

In [13]:
df = df.round(2)

In [14]:
df.dtypes

ESSP      float64
Manual    float64
Total     float64
dtype: object

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df

                                   ESSP   Manual    Total
Avg. Total Hours Worked          249.12   141.76   208.14
Avg. Employer Paid Hourly Rate     8.75    14.43    10.92
Avg. Total Paid Wages           1878.98  1785.96  1843.47
Avg. Total Tips Received        3937.92  2793.88  3501.21
Avg. Total Pay Rate               21.68    17.53    20.10

In [17]:
# writing out tables
with pd.ExcelWriter('tables/tables.xlsx') as writer:  
    df.to_excel(writer, sheet_name='table')